<h1>Table des matières<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Traitement-du-df-aircraft" data-toc-modified-id="Traitement-du-df-aircraft-0.1">Traitement du df aircraft</a></span></li><li><span><a href="#Traitement-du-df-airline" data-toc-modified-id="Traitement-du-df-airline-0.2">Traitement du df airline</a></span></li><li><span><a href="#Traitement-du-df-airport" data-toc-modified-id="Traitement-du-df-airport-0.3">Traitement du df airport</a></span></li><li><span><a href="#Traitement-du-df-country" data-toc-modified-id="Traitement-du-df-country-0.4">Traitement du df country</a></span></li><li><span><a href="#Traitement-du-df-city" data-toc-modified-id="Traitement-du-df-city-0.5">Traitement du df city</a></span></li><li><span><a href="#Faire-correspondre-colonnes-des-df-avec-les-champs-des-tables-sql" data-toc-modified-id="Faire-correspondre-colonnes-des-df-avec-les-champs-des-tables-sql-0.6">Faire correspondre colonnes des df avec les champs des tables sql</a></span></li></ul></li><li><span><a href="#on-exporte-les-df-en-csv" data-toc-modified-id="on-exporte-les-df-en-csv-1">on exporte les df en csv</a></span></li><li><span><a href="#on-utilisera-un-fichier-sql-pour-remplir-les-tables-de-la-db" data-toc-modified-id="on-utilisera-un-fichier-sql-pour-remplir-les-tables-de-la-db-2">on utilisera un fichier sql pour remplir les tables de la db</a></span></li></ul></div>

In [1]:
import pandas as pd
import numpy as np
import os
import json
import requests
from os import listdir
from os.path import join, isfile, isdir
from datetime import datetime, timedelta
from urllib.parse import unquote

pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 100)

In [2]:
%%html
<style>
.dataframe thead tr th {
    text-align: left;
}
.dataframe thead th {
    text-align: left;
}
</style>

In [3]:
path_folder_data_api = "static_results"
path_folder_data_wiki = "data_scraping"
path_folder_output_csv = "csv_to_sql"

In [4]:
# on convertit nos données en DataFrame et on affiche le nom des colonnes

files = [f for f in listdir(path_folder_data_api) if isfile(join(path_folder_data_api, f))]
dic_columns = {}
all_df = []
for file in files:
    path_file = f"{path_folder_data_api}/{file}"
    with open(path_file, "r", encoding='utf-8') as f:
        items = json.load(f)
                
    data = pd.json_normalize(items)
    df = pd.DataFrame(data)
    
    all_df.append(df)
    cols = list(df.columns)
    dic_columns[file[:-5]]=cols
    
display(dic_columns)

{'aircraft': ['AircraftCode', 'AirlineEquipCode', 'NameOK'],
 'airlines': ['AirlineID', 'AirlineID_ICAO', 'NameOK'],
 'airports': ['AirportCode',
  'CityCode',
  'CountryCode',
  'LocationType',
  'UtcOffset',
  'TimeZoneId',
  'NameOK',
  'Position.Coordinate.Latitude',
  'Position.Coordinate.Longitude'],
 'cities': ['CityCode',
  'CountryCode',
  'UtcOffset',
  'TimeZoneId',
  'NameOK',
  'Airports.AirportCode'],
 'countries': ['CountryCode', 'NameOK']}

In [5]:
# on crée un dictionnaire pour renommer les colonnes

dic_columns_new = {
    'aircraft': [
        'aircraft_iata',
        'aircraft_icao',
        'aircraft_name'
    ],
    'airlines': [
        'airline_iata',
        'airline_icao',
        'airline_name'
    ],
    'airports': [
        'airport_iata',
        'airport_city_code',
        'airport_country_code',
        'airport_location_type',
        'airport_utc_offset',
        'airport_timezone_id',
        'airport_name',
        'airport_latitude',
        'airport_longitude'
    ],
    'cities': [
        'city_code',
        'city_country_code',
        'city_utc_offset',
        'city_timezone_id',
        'city_name',
        'city_airport_code'
    ],
    'countries': [
        'country_code', 
        'country_name'
    ]
}

In [6]:
# on nomme les df et on utilise dic_columns_new pour changer le nom des colonnes

aircraft = all_df[0]
airline = all_df[1]
airport = all_df[2]
city = all_df[3]
country = all_df[4]

df_data = [
    aircraft,
    airline,
    airport,
    city,
    country
]

for i in range(len(df_data)):
    df_data[i].columns = dic_columns_new[files[i][:-5]]

In [7]:
# création d'un dictionnaire de df avec les NaN
def get_nan_from_df(df):
    cols = df.loc[:, df.isna().any()].columns
    dic_result = {}
    dic_result['df_nan'] = df[df.isna().any(axis = 1)]
    dic_result['col_nan'] = []
    for col in cols:
        indices_nan = df[[col]][df[[col]].isna().any(axis = 1)].index
        dic = {
            "col_name": col,
            "nb_nan": len(df.loc[df[col].isna()]),
            "df": df[df.index.isin(indices_nan)]
        }
        dic_result['col_nan'].append(dic)
    return dic_result

# Affichage des NaN
def display_nan(df):
    df_nan = get_nan_from_df(df)
    print("Synthèse :")
    dic_summary = {dic['col_name']: dic['nb_nan'] for dic in df_nan['col_nan']}
    display(dic_summary)
    #display(df_nan['df_nan'])
    for dic in df_nan['col_nan']:
        print(f'Nb de NaN dans la colonne "{dic["col_name"]}" : {dic["nb_nan"]}')
        display(dic['df'])

## Traitement du df aircraft

In [8]:
# affichage du df
print(aircraft.shape)
display(aircraft.sample(10))

(382, 3)

,aircraft_iata,aircraft_icao,aircraft_name
229,D9C,DC93,Boeing (Douglas) DC-9-30 Freighter
96,75M,B752,Boeing 757-200 Mixed Configuration
214,D3F,DC3,Boeing (Douglas) DC-3 Freighter
216,D4X,DH8D,De Havilland (Bombardier) DHC-8-400 Dash 8Q Fr...
16,31B,A319,Airbus A319 (sharklets)
150,AWZ,*,Augusta Westland 200
59,73C,B733,Boeing 737-300 (winglets) Passenger
57,738,B738,Boeing 737-800 Passenger
152,B13,BA11,BAE Systems (BAC) One-Eleven 300
237,DF2,FA20,Dassault Falcon 20 / 200

In [9]:
# Verification des NaN
display_nan(aircraft)

Synthèse :

{'aircraft_icao': 2, 'aircraft_name': 2}

Nb de NaN dans la colonne "aircraft_icao" : 2

   aircraft_iata aircraft_icao aircraft_name
77           748           NaN          None
78           748           NaN          None

Nb de NaN dans la colonne "aircraft_name" : 2

   aircraft_iata aircraft_icao aircraft_name
77           748           NaN          None
78           748           NaN          None

In [10]:
# Lignes sans données => on les supprime
aircraft = aircraft.dropna()
aircraft = aircraft.reset_index(drop=True)

In [11]:
# on regarde si la colonne aircraft_iata ne comporte que des valeurs uniques
iata = aircraft['aircraft_iata'].tolist()
iata_uniques = list(set(iata))
print(len(iata))
print(len(iata_uniques))

380
379

In [12]:
# on affiche les lignes avec le même code_iata
for iata in iata_uniques:
    df = aircraft[aircraft['aircraft_iata'] == iata]
    if len(df) > 1:
        display(df)

   aircraft_iata aircraft_icao             aircraft_name
97           762          B762  Boeing 767-200 Passenger
98           762          B762  Boeing 767-200 Passenger

In [13]:
# on supprime les rows dupliquées
aircraft = aircraft.drop_duplicates()
aircraft = aircraft.reset_index(drop=True)
iata = aircraft['aircraft_iata'].tolist()
iata_uniques = list(set(iata))
print(len(iata))
print(len(iata_uniques))

379
379

In [14]:
# on va ajouter les données scrappées sur wikipedia pour ajouter un lien vers la page wiki

# on vérifie les données du scraping
with open(f"{path_folder_data_wiki}/aircrafts_wiki.json", 'r', encoding='utf-8') as f:
    aircrafts_wiki = json.load(f)
aircraft_wiki = pd.DataFrame(aircrafts_wiki)
aircraft_wiki

,ICAO,IATA,MODEL,Link
0,A124,A4F,Antonov An-124 Ruslan,/wiki/Antonov_An-124_Ruslan
1,A140,A40,Antonov An-140,/wiki/Antonov_An-140
2,A148,A81,Antonov An-148,/wiki/Antonov_An-148
3,A158,A58,Antonov An-158,/wiki/Antonov_An-148#Variants
4,A19N,31N,Airbus A319neo,/wiki/Airbus_A319neo
...,...,...,...,...
325,WW24,WWP,Israel Aircraft Industries 1124 Westwind,/wiki/IAI_Westwind
326,Y12,YN2,Harbin Y-12,/wiki/Harbin_Y-12
327,YK40,YK4,Yakovlev Yak-40,/wiki/Yakovlev_Yak-40
328,YK42,YK2,Yakovlev Yak-42,/wiki/Yakovlev_Yak-42
329,YS11,YS1,NAMC YS-11,/wiki/NAMC_YS-11

In [15]:
# on vérifie la présence de valeurs uniques pour le code iata
aircraft_wiki = aircraft_wiki.dropna(subset=["IATA"])
aircraft_wiki = aircraft_wiki[aircraft_wiki['IATA'].isin(iata_uniques)]
iata_wiki = aircraft_wiki['IATA'].tolist()
iata_wiki_uniques = list(set(iata_wiki))
print(len(iata_wiki))
print(len(iata_wiki_uniques))

253
233

In [16]:
# on traite les valeurs multiples du code iata :
# pour les codes multtiples, on recherche la correspondance du code icao avec notre df aircraft
# si pas de correpondance, on supprime la row du df wiki
index_del = []
for iata in iata_wiki_uniques:
    df = aircraft_wiki[aircraft_wiki['IATA'] == iata]
    if len(df) > 1:
        df_index = list(df.index)
        df_air = aircraft[aircraft['aircraft_iata'] == iata]
        code_icao = df_air['aircraft_icao'].tolist()[0]
        if code_icao != "*":
            for i in df_index:
                if df.loc[i, 'ICAO'] != code_icao:
                    index_del.append(i)
        else:
            index_del.extend(df_index)
aircraft_wiki = aircraft_wiki.drop(index_del, axis=0)

In [17]:
# on merge les 2 df
aircraft_wiki.columns = ['icao', 'aircraft_iata', 'model', 'aircraft_link']
aircraft_wiki = aircraft_wiki[['aircraft_iata', 'aircraft_link']]
aircraft = pd.merge(aircraft, aircraft_wiki, how='left')
display(aircraft)

,aircraft_iata,aircraft_icao,aircraft_name,aircraft_link
0,100,F100,Fokker 100,/wiki/Fokker_100
1,141,B461,BAE Systems 146-100 Passenger,/wiki/British_Aerospace_146
2,142,B462,BAE Systems 146-200 Passenger,/wiki/British_Aerospace_146
3,143,B463,BAE Systems 146-300 Passenger,/wiki/British_Aerospace_146
4,14X,B461,BAE Systems 146-100 Freighter,NaN
...,...,...,...,...
374,YK2,YK42,Yakovlev Yak-42 / Yak-142,/wiki/Yakovlev_Yak-42
375,YK4,YK40,Yakovlev Yak-40,/wiki/Yakovlev_Yak-40
376,YN2,Y12,Harbin Yunshuji Y12,/wiki/Harbin_Y-12
377,YN7,AN24,Xian Yunshuji Y7,NaN
378,YS1,YS11,NAMC YS-11,/wiki/NAMC_YS-11

## Traitement du df airline

In [18]:
# affichage du df
airline = all_df[1]
print(airline.shape)
display(airline.sample(10))

(1136, 3)

     airline_iata airline_icao                 airline_name
851            RN          EUH                 Air Horizons
622            L4          LDI              Lauda Air Italy
213            9S          SOO                 Southern Air
604            KK          KKK                  Atlasglobal
921            TJ          GPD           Tradewind Aviation
1114           ZF          SXY         Safari Express Cargo
204            9I          LLR                 Alliance Air
948            UB          UBA    Myanmar National Airlines
5              0P          PPC  Palau Asia Pacific Air Inc.
402           EZS          EZS      Easy Jet Switzerland Sa

In [19]:
# Vérification des nan
display_nan(airline)

Synthèse :

{'airline_icao': 125}

Nb de NaN dans la colonne "airline_icao" : 125

     airline_iata airline_icao        airline_name
14             1X          NaN  Branson Airexpress
15             2A          NaN    Deutsche Bahn AG
17             2C          NaN                Sncf
19             2E          NaN      Smokey Bay Air
28             2O          NaN  Island Air Service
...           ...          ...                 ...
1128           ZV          NaN   V Air Corporation
1132           ZZ          NaN                 Alc
1133           ZZ          NaN                 Alc
1134           ZZ          NaN                 Alc
1135           ZZ          NaN                 Alc

[125 rows x 3 columns]

In [20]:
# On supprime les 3 dernières lignes 
airline = airline.drop([1133, 1134, 1135], axis=0)

# on regarde si la colonne airline_iata ne comporte que des valeurs uniques
print(airline.shape)
uniques_iata = airline['airline_iata'].unique().tolist()
print(len(uniques_iata))

(1133, 3)
1127

In [21]:
# On vérifie que tous les codes iata ne comportent que 2 caractères
list_id = []
for i in range(len(airline)):
    c = airline.loc[i, 'airline_iata']
    if len(c) != 2:
        list_id.append(i)

print(len(airline[airline.index.isin(list_id)]))
display(airline[airline.index.isin(list_id)].sample(5))

41

    airline_iata airline_icao                       airline_name
542          ISR          ISR                         Israir Ltd
358          DSC          DSC    Addis Air Cargo Services P.L.C.
420          FHE          FHE                           Hello Ag
248          ATV          ATV  Avanti Air Gmbh _ Co. Kg_ Burbach
881          SHY          SHY                       Sky Airlines

In [22]:
# On va utiliser les données scrappées sur wikipedia pour modifier les données
with open(f"{path_folder_data_wiki}/airlines_wiki.json", "r", encoding='utf-8') as f:
    airlines_wiki = json.load(f)
print(airlines_wiki[:1])

airline_icao_to_iata = {}
for entry in airlines_wiki:
    airline_icao = entry['ICAO']
    iata_code = entry['IATA']
    if len(iata_code) == 2:
        airline_icao_to_iata[airline_icao] = iata_code

all_iata_code = airline['airline_iata'].unique().tolist()
id_to_del = []
for idx, row in airline.iterrows():
    if idx in list_id:
        airline_icao = row['airline_icao']
        if airline_icao in airline_icao_to_iata:
            iata_code = airline_icao_to_iata[airline_icao]
            if iata_code not in all_iata_code:
                all_iata_code.append(iata_code)
                airline.at[idx, 'airline_iata'] = airline_icao_to_iata[airline_icao]
            else:
                id_to_del.append(idx)
        else:
            id_to_del.append(idx)
            
if len(id_to_del) != 0:
    airline = airline.drop(id_to_del, axis=0)
    airline = airline.reset_index(drop = True)
    airline = airline.drop_duplicates()
    airline = airline.reset_index(drop = True)
    
print(airline.shape)

[{'IATA': 'PR', 'ICAO': 'BOI', 'Airline': '2GO', 'Link': '/wiki/2GO_(cargo_airline)', 'CallSign': 'ABAIR', 'Country': 'Philippines', 'Comment': ''}]
(1091, 3)

In [23]:
# on regarde les rows avec un code iata multiple
count = pd.Series(airline['airline_iata'].tolist()).value_counts()
codes_iata = []
for i in range(len(count)):
    if count[i]>1:
        codes_iata.append(count.index[i])
        
display(airline[airline['airline_iata'].isin(codes_iata)])

    airline_iata airline_icao                    airline_name
88            4Y          BGA  Airbus Transport International
89            4Y          OCN              Eurowings Discover
606           LH          DLH                       Lufthansa
607           LH          GEC                 Lufthansa Cargo

In [24]:
# On supprime les lignes dupliquées
airline = airline.drop([89, 607], axis=0)
airline = airline.reset_index(drop = True)
print(airline.shape)

(1089, 3)

## Traitement du df airport

In [25]:
# affichage du df
print(airport.shape)
display(airport.sample(10))

(11681, 9)

,airport_iata,airport_city_code,airport_country_code,airport_location_type,airport_utc_offset,airport_timezone_id,airport_name,airport_latitude,airport_longitude
10372,XSK,XSK,FR,Off-Line Point,+01:00,Europe/Paris,St-Raphael Off-Line Pt,43.4167,6.7667
9785,WMD,WMD,MG,Airport,+03:00,Indian/Antananarivo,Mandabe,-21.0333,44.9500
143,AGF,AGF,FR,Airport,+01:00,Europe/Paris,Agen La Garenne,44.1747,0.5906
2545,FIL,FIL,US,Airport,-07:00,America/Denver,Fillmore Municipal,38.9667,-112.3333
3906,JHL,HZP,CA,Airport,-07:00,America/Whitehorse,Fort Mackay Albian,57.2278,-111.4194
4255,KHU,KHU,UA,Airport,+02:00,Europe/Zaporozhye,Kremenchug,49.1000,33.4500
10773,YKD,YKD,CA,Airport,-05:00,America/Toronto,Kincardine Township Airport,44.2014,-81.6067
2498,FCS,COS,US,Airport,-07:00,America/Denver,Colorado Fort Carson/Butts Aaf,38.8194,-104.7167
3509,IAD,WAS,US,Airport,-05:00,America/New_York,Washington Dulles,38.9444,-77.4558
8557,SWI,SWI,GB,Rail Station,+00:00,Europe/London,Swindon Rail Station,51.5667,-1.7833

In [26]:
# location_type : on se limite aux airports
airport = airport[airport['airport_location_type'] == "Airport"]

# on supprime la colonne 'airport_location_type'
airport = airport.drop(columns=['airport_location_type'])

airport = airport.reset_index(drop=True)
airport.shape

(9728, 8)

In [27]:
# on regarde si la colonne airport_iata ne comporte que des valeurs uniques
iata_code = airport["airport_iata"].tolist()
print(len(iata_code))
iata_code_uniques = (list(set(iata_code)))
print(len(iata_code_uniques))

9728
9723

In [28]:
# on regarde les rows avec un code iata multiple
count = pd.Series(airport['airport_iata'].tolist()).value_counts()
codes_iata = []
for i in range(len(count)):
    if count[i]>1:
        codes_iata.append(count.index[i])
        
display(airport[airport['airport_iata'].isin(codes_iata)])

,airport_iata,airport_city_code,airport_country_code,airport_utc_offset,airport_timezone_id,airport_name,airport_latitude,airport_longitude
97,ADX,ADX,GB,+00:00,Europe/London,St Andrews Raf Leuchars,56.3667,-2.8667
98,ADX,ADX,GB,+00:00,Europe/London,St Andrews Raf Leuchars,56.3667,-2.8667
2840,GOM,GOM,CD,+02:00,Africa/Lubumbashi,None,-1.6708,29.2383
2841,GOM,GOM,CD,+02:00,Africa/Lubumbashi,Goma,-1.6708,29.2383
2861,GPS,GPS,EC,-06:00,Pacific/Galapagos,None,-0.4539,-90.2658
2862,GPS,GPS,EC,-06:00,Pacific/Galapagos,Baltra Island Seymour,-0.4539,-90.2658
3046,HBX,HBX,IN,+05:30,Asia/Kolkata,Hubli,15.3617,75.0869
3047,HBX,HBX,IN,+05:30,Asia/Kolkata,None,15.3617,75.0869
3068,HDN,HDN,US,-07:00,America/Denver,Hayden Yampa Valley,40.4833,-107.2236
3069,HDN,HDN,US,-07:00,America/Denver,None,40.4833,-107.2236

In [29]:
# on supprime les rows dupliquées
airport = airport.drop([98, 2840, 2861, 3047, 3069], axis=0)
airport = airport.reset_index(drop = True)
print(airport.shape)

(9723, 8)

In [30]:
display_nan(airport)

Synthèse :

{}

In [31]:
# on utilise les données airport scrappées sur wikipedia pour ajouter le code ICAO et un lien

# on vérifie les données
with open(f"{path_folder_data_wiki}/airports_wiki.json", "r", encoding='utf-8') as f:
    airports_wiki = json.load(f)
airports_wiki[:3]

for dic in airports_wiki:
    if '[' in dic['ICAO']:
        dic['ICAO'] = dic['ICAO'][:4]
    if isinstance(dic['AirportLink'], str):
        if '"' in dic['AirportLink']:
            dic['AirportLink'] = dic['AirportLink'].replace('"', '')

In [32]:
# on renomme les colonnes pour faire correspondre avec notre df airport
df_wiki = pd.DataFrame(airports_wiki)
df_wiki = df_wiki[['IATA', 'ICAO', 'AirportLink']]
df_wiki.columns = ['airport_iata', 'airport_icao', 'airport_link']
df_wiki

     airport_iata airport_icao                          airport_link
0             AAA         NTGA                    /wiki/Anaa_Airport
1             AAB         YARY                /wiki/Arrabury_Airport
2             AAC         HEAR  /wiki/El_Arish_International_Airport
3             AAD         HCAD                   /wiki/Adado_Airport
4             AAE         DABB             /wiki/Rabah_Bitat_Airport
...           ...          ...                                   ...
9075          ZYL         VGSY    /wiki/Osmani_International_Airport
9076          ZZE         UBBZ  /wiki/Zangilan_International_Airport
9077          ZZO         UHSO               /wiki/Zonalnoye_Airport
9078          ZZU         FWUU                   /wiki/Mzuzu_Airport
9079          ZZV         KZZV    /wiki/Zanesville_Municipal_Airport

[9080 rows x 3 columns]

In [33]:
# on merge les 2 df
airport = pd.merge(airport, df_wiki, how='left')
airport

,airport_iata,airport_city_code,airport_country_code,airport_utc_offset,airport_timezone_id,airport_name,airport_latitude,airport_longitude,airport_icao,airport_link
0,AAA,AAA,PF,-10:00,Pacific/Tahiti,Anaa,-17.3525,-145.5100,NTGA,/wiki/Anaa_Airport
1,AAB,AAB,AU,+10:00,Australia/Brisbane,Arrabury,-26.6911,141.0472,YARY,/wiki/Arrabury_Airport
2,AAC,AAC,EG,+02:00,Africa/Cairo,El Arish International,31.0733,33.8358,HEAR,/wiki/El_Arish_International_Airport
3,AAD,AAD,SO,+03:00,Africa/Mogadishu,Adado,6.0961,46.6375,HCAD,/wiki/Adado_Airport
4,AAE,AAE,DZ,+01:00,Africa/Algiers,Annaba Rabah Bitat,36.8222,7.8092,DABB,/wiki/Rabah_Bitat_Airport
...,...,...,...,...,...,...,...,...,...,...
9718,ZZE,ZZE,AZ,+04:00,Asia/Baku,Zangilan,39.0989,46.7344,UBBZ,/wiki/Zangilan_International_Airport
9719,ZZO,ZZO,RU,+11:00,Asia/Srednekolymsk,Zonalnoye,50.6689,142.7611,UHSO,/wiki/Zonalnoye_Airport
9720,ZZU,ZZU,MW,+02:00,Africa/Blantyre,Mzuzu,-11.4447,34.0117,FWUU,/wiki/Mzuzu_Airport
9721,ZZV,ZZV,US,-05:00,America/New_York,Zanesville Municipal,39.9500,-81.8833,KZZV,/wiki/Zanesville_Municipal_Airport
9722,ZZZ,IST,TR,+03:00,Europe/Istanbul,Istanbul,40.9769,28.8150,NaN,NaN

## Traitement du df country

In [34]:
# affichage du df
print(country.shape)
display(country.sample(10))

(239, 2)

    country_code               country_name
25            BM                    Bermuda
167           PG           Papua New Guinea
235           YT                    Mayotte
183           RW                     Rwanda
146           MV                   Maldives
142           MR                 Mauritania
122           LR                    Liberia
171           PM  Saint Pierre And Miquelon
127           LY                      Libya
107           KG                 Kyrgyzstan

In [35]:
# Affichage des NaN
display_nan(country)

Synthèse :

{}

In [36]:
# on verifie que code_pays sont uniques
codes_pays = country['country_code']
print(len(codes_pays))
codes_pays_uniques = list(set(codes_pays))
print(len(codes_pays_uniques))

239
238

In [37]:
# on regarde les rows avec un code pays multiple
count = pd.Series(country['country_code'].tolist()).value_counts()
codes_pays_ = []
for i in range(len(count)):
    if count[i]>1:
        codes_pays_.append(count.index[i])
        
display(country[country['country_code'].isin(codes_pays_)])

    country_code              country_name
99            IR  Iran Islamic Republic Of
100           IR  Iran Islamic Republic Of

In [38]:
# on supprime les rows dupliquées
country = country.drop([100], axis=0)
country = country.reset_index(drop = True)
print(country.shape)

(238, 2)

In [39]:
# on verifie que tous les codes country de airport sont présents
codes_pays_airports = airport['airport_country_code'].unique().tolist()
missing = list(set(codes_pays_airports) - set(codes_pays))
print(missing)

[]

In [40]:
# on utilise les données scrappées sur wikipedia pour rajouter des infos

# on vérifie les données
with open(f"{path_folder_data_wiki}/country_wiki.json", "r", encoding='utf-8') as f:
    country_wiki = json.load(f)
df_wiki = pd.DataFrame(country_wiki)
df_wiki.head()

,CountryName,CountryLink,CountryFlag,Alpha2Code,Alpha3Code,NumericCode
0,Afghanistan,/wiki/Afghanistan,//upload.wikimedia.org/wikipedia/commons/thumb...,AF,AFG,004
1,Åland Islands,/wiki/%C3%85land_Islands,//upload.wikimedia.org/wikipedia/commons/thumb...,AX,ALA,248
2,Albania,/wiki/Albania,//upload.wikimedia.org/wikipedia/commons/thumb...,AL,ALB,008
3,Algeria,/wiki/Algeria,//upload.wikimedia.org/wikipedia/commons/thumb...,DZ,DZA,012
4,American Samoa,/wiki/American_Samoa,//upload.wikimedia.org/wikipedia/commons/thumb...,AS,ASM,016

In [41]:
# on renomme les colonnes pour faire correspondre avec notre df country
df_wiki = df_wiki[['Alpha2Code', 'Alpha3Code', 'NumericCode', 'CountryFlag', 'CountryLink']]
df_wiki.columns = ['country_code', 'country_iso3', 'country_num', 'country_flag', 'country_link']

In [42]:
# on merge les 2 df
country = pd.merge(country, df_wiki, how='left')
country

,country_code,country_name,country_iso3,country_num,country_flag,country_link
0,AD,Andorra,AND,020,//upload.wikimedia.org/wikipedia/commons/thumb...,/wiki/Andorra
1,AE,United Arab Emirates,ARE,784,//upload.wikimedia.org/wikipedia/commons/thumb...,/wiki/United_Arab_Emirates
2,AF,Afghanistan,AFG,004,//upload.wikimedia.org/wikipedia/commons/thumb...,/wiki/Afghanistan
3,AG,"Antigua And Barbuda, Leeward Islands",ATG,028,//upload.wikimedia.org/wikipedia/commons/thumb...,/wiki/Antigua_and_Barbuda
4,AI,"Anguilla, Leeward Islands",AIA,660,//upload.wikimedia.org/wikipedia/commons/thumb...,/wiki/Anguilla
...,...,...,...,...,...,...
233,YE,Yemen,YEM,887,//upload.wikimedia.org/wikipedia/commons/thumb...,/wiki/Yemen
234,YT,Mayotte,MYT,175,//upload.wikimedia.org/wikipedia/en/thumb/c/c3...,/wiki/Mayotte
235,ZA,South Africa,ZAF,710,//upload.wikimedia.org/wikipedia/commons/thumb...,/wiki/South_Africa
236,ZM,Zambia,ZMB,894,//upload.wikimedia.org/wikipedia/commons/thumb...,/wiki/Zambia
237,ZW,Zimbabwe,ZWE,716,//upload.wikimedia.org/wikipedia/commons/thumb...,/wiki/Zimbabwe

## Traitement du df city

In [43]:
# affichage du df
print(city.shape)
display(city.sample(10))

(10700, 6)

,city_code,city_country_code,city_utc_offset,city_timezone_id,city_name,city_airport_code
5979,OUD,MA,+01:00,Africa/Casablanca,Oujda,OUD
4839,MEI,US,-06:00,America/Chicago,Meridian,MEI
6402,PRR,GY,-04:00,America/Guyana,Paruima,PRR
7412,RUP,IN,+05:30,Asia/Kolkata,Rupsi,RUP
9770,YAD,CA,-06:00,America/Winnipeg,Moose Lake,YAD
7081,QYQ,DK,+01:00,Europe/Copenhagen,Sulsted,QYQ
411,ATF,EC,-05:00,America/Guayaquil,Ambato,ATF
3639,JOI,BR,-03:00,America/Araguaina,Joinville,JOI
1999,DXR,US,-05:00,America/New_York,Danbury,DXR
9037,WBB,US,-09:00,America/Anchorage,Stebbins,WBB

In [44]:
# Affichage des NaN
display_nan(city)

Synthèse :

{'city_airport_code': 104}

Nb de NaN dans la colonne "city_airport_code" : 104

,city_code,city_country_code,city_utc_offset,city_timezone_id,city_name,city_airport_code
21,AAW,PK,+05:00,Asia/Karachi,Abbottabad,NaN
66,ACQ,ES,+01:00,Europe/Madrid,Estacion De Alicante,NaN
191,AIY,US,-05:00,America/New_York,Atlantic City,NaN
279,ANA,KE,+03:00,Africa/Nairobi,Masai Mara,NaN
433,AUB,BR,-04:00,America/Cuiaba,Itauba,NaN
...,...,...,...,...,...,...
9396,XGL,FR,+01:00,Europe/Paris,Angouleme,NaN
9562,XPI,FR,+01:00,Europe/Paris,Gare Perpignan Sncf,NaN
9652,XTZ,FI,+02:00,Europe/Helsinki,Turku,NaN
9697,XWA,US,-06:00,America/Chicago,Williston,NaN
9735,XXX,XX,+00:00,Dummy Time Zone,Dummy City,NaN

In [45]:
# on verifie que code_city sont uniques
codes_city = city['city_code']
print(len(codes_city))
codes_city_uniques = list(set(codes_city))
print(len(codes_city_uniques))

10700
10693

In [46]:
# on regarde les rows avec un code pays multiple
count = pd.Series(city['city_code'].tolist()).value_counts()
codes_city_ = []
for i in range(len(count)):
    if count[i]>1:
        codes_city_.append(count.index[i])
        
display(city[city['city_code'].isin(codes_city_)])

,city_code,city_country_code,city_utc_offset,city_timezone_id,city_name,city_airport_code
99,AEB,CN,+08:00,Asia/Shanghai,Baise,AEB
100,AEB,CN,+08:00,Asia/Shanghai,Baise,AEB
2536,GBI,IN,+05:30,Asia/Kolkata,Gulbarga,GBI
2537,GBI,IN,+05:30,Asia/Kolkata,Gulbarga,GBI
3491,IXX,IN,+05:30,Asia/Kolkata,Bidar Airport,IXX
3492,IXX,IN,+05:30,Asia/Kolkata,Bidar,IXX
3493,IXX,IN,+05:30,Asia/Kolkata,Bidar,IXX
9026,WAS,US,-05:00,America/New_York,Washington,"[BOF, BWI, BZS, DCA, GBO, IAD, JPN, MTN, ZBP, ..."
9027,WAS,US,-05:00,America/New_York,Washington,"[BOF, BWI, BZS, DCA, GBO, IAD, JPN, MTN, ZBP, ..."
9028,WAS,US,-05:00,America/New_York,Washington,"[BOF, BWI, BZS, DCA, GBO, IAD, JPN, MTN, ZBP, ..."
10222,YXX,CA,-08:00,America/Vancouver,Vancouver,YXX
10223,YXX,CA,-08:00,America/Vancouver,Abbotsford,YXX

In [47]:
# on supprime les rows dupliquées
city = city.drop([100, 2537, 3492, 3493, 9027, 9028, 10223], axis=0)
city = city.reset_index(drop = True)
print(city.shape)

(10693, 6)

In [48]:
# on verifie que tous les codes city de airport sont présents ; si non, on supprime de airports les lignes où le code est manquant
codes_city_airports = airport['airport_city_code'].unique().tolist()
missing = list(set(codes_city_airports) - set(codes_city))

if len(missing) != 0:
    missing_id = list(airport[airport['airport_iata'].isin(missing)].index)
    airport = airport.drop(missing_id, axis=0)
    airport = airport.reset_index(drop=True)
    
    # verif que tous les codes sont présents
    new_codes_city_airports = airport['airport_city_code'].unique().tolist()
    test_missing = list(set(new_codes_city_airports) - set(codes_city))
    if len(test_missing) != 0:
        print("Erreur : Tous les codes city du df airport ne sont pas présents dans le df city")

In [49]:
# on supprime la colonne city_airport_code de city 
# en effet :
#   - soit la ville possède un aéroport et alors city_airport_code = city_code
#   - soit la ville possède plusieurs aéroports et alors la liste des city_airport_code correspond aux airport_iata du df airport
#
# Exemple avec le city_code 'WAS' du df city:
display(city[city['city_code'] == 'WAS'])

# on contsate que cette ville possède plusieurs aéroports car la valeur de la variable city_airport_code est une liste de code iata d'aéroport
# on peut vérifier avec le 1ere code de cette liste, 'BOF', qu'il s'agit bien d'un airport_code et que la ville associée est bien 'WAS'
display(airport[airport['airport_iata'] == 'BOF'])

# on va donc supprimer la colonne city_airport_code du df city
# (de plus, il est possible que tous les codes présents dans les listes ne soient pas présents dans le df airport, alors autant supprimer cette colonne)

city = city.drop(columns=['city_airport_code'])

,city_code,city_country_code,city_utc_offset,city_timezone_id,city_name,city_airport_code
9022,WAS,US,-05:00,America/New_York,Washington,"[BOF, BWI, BZS, DCA, GBO, IAD, JPN, MTN, ZBP, ..."

,airport_iata,airport_city_code,airport_country_code,airport_utc_offset,airport_timezone_id,airport_name,airport_latitude,airport_longitude,airport_icao,airport_link
909,BOF,WAS,US,-05:00,America/New_York,Washington Bolling Afb Heliport,38.9167,-77.0167,NaN,NaN

In [50]:
city.sample(3)

,city_code,city_country_code,city_utc_offset,city_timezone_id,city_name
1142,BZY,MD,+02:00,Europe/Chisinau,Balti
826,BMH,PG,+10:00,Pacific/Port_Moresby,Bomai
2531,GBE,BW,+02:00,Africa/Gaborone,Gaborone

## Faire correspondre colonnes des df avec les champs des tables sql

In [51]:
# Pour chaque df, on va s'assurer que le formatage correspond à la db mysql :
#  - type des variables du df doit correspondre au type défini dans la db
#  - ordre des colonnes des df doit être identique à celui de la base sql

In [52]:
# Convertir utc_offset en minutes
def convert_utc_offset_to_minutes(offset_str):
    if offset_str.startswith('-'):
        sign = -1
        offset_str = offset_str[1:]
    else:
        sign = 1
        offset_str = offset_str[1:] if offset_str.startswith('+') else offset_str

    hours, minutes = map(int, offset_str.split(':'))
    return sign * (hours * 60 + minutes)

def decode_url(url):
    if isinstance(url, str):
        if '"' in url:
            url = url.replace('"', '')
        if ',' in url:
            url = ''
        return url
    return url

In [53]:
print(airport.columns)
print(airport.dtypes)

Index(['airport_iata', 'airport_city_code', 'airport_country_code',
       'airport_utc_offset', 'airport_timezone_id', 'airport_name',
       'airport_latitude', 'airport_longitude', 'airport_icao',
       'airport_link'],
      dtype='object')
airport_iata             object
airport_city_code        object
airport_country_code     object
airport_utc_offset       object
airport_timezone_id      object
airport_name             object
airport_latitude        float64
airport_longitude       float64
airport_icao             object
airport_link             object
dtype: object

In [55]:
airport['airport_utc_offset_min'] = airport['airport_utc_offset'].apply(convert_utc_offset_to_minutes)

airport = airport[['airport_iata', 'airport_icao', 'airport_city_code', 'airport_country_code',
                   'airport_name', 'airport_utc_offset', 'airport_utc_offset_min', 'airport_timezone_id', 
                   'airport_latitude', 'airport_longitude', 'airport_link']]

airport['airport_link'] = airport['airport_link'].apply(decode_url)

airport.dtypes

airport_iata               object
airport_icao               object
airport_city_code          object
airport_country_code       object
airport_name               object
airport_utc_offset         object
airport_utc_offset_min      int64
airport_timezone_id        object
airport_latitude          float64
airport_longitude         float64
airport_link               object
dtype: object

In [56]:
print(airline.columns)
print(airline.dtypes)

Index(['airline_iata', 'airline_icao', 'airline_name'], dtype='object')
airline_iata    object
airline_icao    object
airline_name    object
dtype: object

In [57]:
print(aircraft.columns)
print(aircraft.dtypes)

Index(['aircraft_iata', 'aircraft_icao', 'aircraft_name', 'aircraft_link'], dtype='object')
aircraft_iata    object
aircraft_icao    object
aircraft_name    object
aircraft_link    object
dtype: object

In [58]:
aircraft['aircraft_link'] = aircraft['aircraft_link'].apply(decode_url)

In [59]:
print(country.columns)
print(country.dtypes)

Index(['country_code', 'country_name', 'country_iso3', 'country_num',
       'country_flag', 'country_link'],
      dtype='object')
country_code    object
country_name    object
country_iso3    object
country_num     object
country_flag    object
country_link    object
dtype: object

In [60]:
country = country[['country_code', 'country_iso3', 'country_name', 'country_num',
                   'country_link','country_flag']]

country['country_num'] = country['country_num'].fillna(-1).astype(int)
country['country_link'] = country['country_link'].apply(decode_url)
country['country_flag'] = country['country_flag'].apply(decode_url)

print(country.dtypes)

country_code    object
country_iso3    object
country_name    object
country_num      int32
country_link    object
country_flag    object
dtype: object

In [61]:
print(city.columns)
print(city.dtypes)

Index(['city_code', 'city_country_code', 'city_utc_offset', 'city_timezone_id',
       'city_name'],
      dtype='object')
city_code            object
city_country_code    object
city_utc_offset      object
city_timezone_id     object
city_name            object
dtype: object

In [62]:
city['city_utc_offset_min'] = city['city_utc_offset'].apply(convert_utc_offset_to_minutes)
city = city[['city_code', 'city_name', 'city_country_code', 'city_utc_offset', 'city_utc_offset_min', 'city_timezone_id']]

In [66]:
# on exporte les df en csv
# on utilisera un fichier sql pour remplir les tables de la db
os.makedirs(path_folder_output_csv, exist_ok=True)
airport.to_csv(f"{path_folder_output_csv}/airports.csv", index=False)
aircraft.to_csv(f"{path_folder_output_csv}/aircrafts.csv", index=False)
airline.to_csv(f"{path_folder_output_csv}/airlines.csv", index=False)
country.to_csv(f"{path_folder_output_csv}/countries.csv", index=False)
city.to_csv(f"{path_folder_output_csv}/cities.csv", index=False)